{% load static %}
<div class="topline">
    <div class="topline-back topline-color1">
        <a href="#" class="topline-icon burger" style="background-image: url({% static 'img/menu-alt-256.png'%})"></a>
        <a href="#" class="topline-item category">Мужское</a>
        <a href="#" class="topline-item category">Женское</a>
    </div>
    <div class="oirad-logo" style="background-image: url({% static 'img/4oirad_logo.png' %});">
    </div>
    <div class="topline-back topline-color2">
        <a href="#" class="topline-item user-item">Пользователь</a>
        <a href="#" class="topline-icon cart" style="background-image: url({% static 'img/shopping-cart.png' %})"></a>
    </div>
</div>